<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordpress4j.mapper.UsersMapper">

    <select id="findByUserLogin" resultType="com.wordpress4j.entity.Users">
      SELECT * from wp_users
      WHERE user_login = #{userLogin}
    </select>

</mapper>